@import '../../../main-styles.scss';

// small media query
@include until($breakpoint) {
  .sidebar {
    width: 90% !important;
    margin: auto;
    padding: 20px;
    margin: 25vh auto 35px auto;
    position: relative;

    .btn-logout {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 0;
    }

    .ListsButtons {
      margin-top: 25px;
      margin-left: 15px;
      & > button {
        margin-bottom: 10px;
        border-radius: 5px;
      }
      .AddListButton {
        margin-right: 15px !important;
      }
      .DeleteListButton {
        display: inline-block !important;
      }
      .viewTasksButton {
        margin-right: 15px !important;
      }
    }
  }
}
/* ********************************************************/

// large media query

@include from($breakpoint) {
  .sidebar {
    display: flex !important;
    flex-direction: column;
    width: 250px !important;
    background: white;
    height: 100%;
    padding: 42px;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    .btn-logout {
      display: none;
    }

    .DeleteListButton,
    .viewTasksButton {
      display: none !important;
    }
    .ListsButtons {
      float: left !important;
    }
  }
}

/* ********************************************************/
// common styles between small & large

.list-menu {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  flex-grow: 1;
  @include until($breakpoint) {
    margin-top: 35px;
  }

  .list-menu-item {
    display: flex;

    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;

    width: 100%;
    color: #5f5f5f;
    margin-bottom: 5px;

    &:hover {
      background: $light;
    }

    &.is-active {
      background-color: $active-list;
      color: WHITE;
    }
  }
}
