 <div class="sidebar has-background-white">
  <h1 class="title has-text-primary">My Lists 📃</h1>

  <div class="list-menu">
    <div class="lists" *ngIf="lists.length !== 0">
      <a
        class="list-menu-item"
        *ngFor="let list of lists"
        [routerLink]="['/lists', list._id]"
        routerLinkActive="is-active"
      >
        <p>{{ list.title }}</p>
      </a>
    </div>

    <h5 class="empty-state-text" *ngIf="lists.length === 0">No Lists 👀</h5>
  </div>


  <div class="ListsButtons">
    <button
    class="button is-primary has-text-white AddListButton"
    routerLink="/add-new-list"
    *ngIf="canAddNewList"
    >
    Add List 📃
    </button>

    <button class="button is-info has-text-white viewTasksButton" (click)="ViewTasks()"  >
      View Tasks
    </button>


  </div>

  <div style="clear: both"> </div>



  <!-- Maxmium reashed button-->
  <button
    class="button is-danger has-text-white"
    routerLink="/add-new-list"
    *ngIf="!canAddNewList"
    disabled
  >
    Maximum Reached ✋🏻
  </button>
</div>
