<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">Add New List 📑</h1>

    <input
      type="text"
      placeholder="Enter List Title 📑"
      class="input has-background-light is-medium"
      minlength="2"
      #listTitle
    />
    <!--Add template reference to access the title-->
    <br />
    <br />
    <div class="buttons is-centered">
      <button class="button is-medium is-danger" routerLink="/">
        Go BACK 👈🏻
      </button>
      <button
        class="button is-primary has-text-white is-medium"
        (click)="createNewList(listTitle.value)"
      >
        ADD ➕
      </button>
    </div>
  </div>
</div>
