@import '../../../main-styles.scss';

.modal-box {
  min-height: 200;
  width: 100%;
  max-width: 580px;
  background: white;
  border-radius: 5px;
  padding: 35px;
}

.title {
  color: $primary;
  text-align: center;
}
