@import '../../../main-styles.scss';

.task-manager-container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 680px;
  padding: 20px 0 20px 0;
}

.empty-state-text {
  font-size: 20px;
  color: #777;
  text-align: center;
}

/* ******************************************************** */

// small media query

@include until(1024px) {
  .small-media {
    display: block !important;

    .card {
      margin: 35px !important;
      margin-top: 15vh !important;
      .card-header {
        padding: 5px !important;
        background-color: #a8d6eb;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        .icon i {
          padding-top: 5px;
          padding-right: 20px;
          color: #333;
        }
      }
    }
  }
  .task-manager-container {
    display: block;
  }
}

.imageList {
  @include mobile {
    margin-left: 35% !important;
  }

  @include tablet {
    margin-left: 45% !important;
  }
}
