<div class="centered-content">
  <div class="white-box">
    <h1 class="title">Sign up ✍🏻</h1>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input
          class="input has-background-light"
          type="name"
          placeholder="Name 🤔"
          required
          #nameInput
        />
        <span class="icon is-small is-left">
          <i class="fas fa-ghost"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input
          class="input has-background-light"
          type="email"
          placeholder="Email 📧"
          required
          #emailInput
        />
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input
          class="input has-background-light"
          type="password"
          placeholder="Password 🔑"
          required
          #passwordInput
          (keyup)="checkPasswordLength(passwordInput.value)"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field" style="display: flex; justify-content: flex-end">
      <p class="control">
        <button
          class="button is-success has-text-white"
          [disabled]="submitButton"
          (click)="
            onSignupButtonClick(
              nameInput.value,
              emailInput.value,
              passwordInput.value
            )
          "
        >
          Sign up 📇
        </button>
      </p>

    </div>

    <!-- Vaildation on sign up -->
    <article class="message is-danger" *ngIf="errorMessage">
      <div class="message-body">
        Password must be more than 6 characters
      </div>
    </article>

    <!--Add link to login page-->
    <p class="has-text-grey">
      Already have account 💜, <a routerLink="/login">Login</a> now
    </p>
  </div>
</div>
