<div class="centered-content">
  <div class="white-box">
    <h1 class="title">Login 🔐</h1>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input
          class="input has-background-light"
          type="email"
          placeholder="Email 📧"
          #emailInput
        />
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input
          class="input has-background-light"
          type="password"
          placeholder="Password 🔑"
          #passwordInput
        />
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field" style="display: flex; justify-content: flex-end">
      <p class="control">
        <button
          class="button is-success has-text-white"
          (click)="onLoginButtonClicked(emailInput.value, passwordInput.value)"
        >
          Login
        </button>
      </p>
    </div>

    <!--Add link to register page-->
    <p class="has-text-grey">
      No account yet 💔, <a routerLink="/signup">Sign Up</a> now
    </p>
  </div>
</div>
