<div class="task-list-container has-background-light" [style.display]="display_task_sm">
  <h1 class="title has-text-primary">My Tasks</h1>

  <!--Task elements-->
  <div
    class="task"
    *ngFor="let task of tasks"
    (click)="onTaskClick(task)"
    [ngClass]="{ completed: task.completed }"
  >
    <p class="task-text">{{ task.title }}</p>
  </div>


  <!--Create Add Task button-->
  <button
    class="button circle-add-button is-primary"
    routerLink="./add-new-task"
  >
    <img src="../../../assets//plus-icon.svg" alt="➕" />
  </button>

  <button class="button is-danger has-text-white DeleteTask" (click)="hideTask()"  >
    Close Lists
  </button>

  <div style="clear: both"> </div>



</div>
