<!-- Attribute Directives -->
<div class="task-list-container has-background-light" [style.display]="display_task_sm">
  <!--Show this div if the user choose a list from the side bar-->
  <div *ngIf="tasks">
    <div class="top-bar">
      <h1 class="title has-text-primary">My Tasks</h1>
      <button class="button is-danger has-text-white delete DeleteTask circle-add-button"
        [style.display]="display_task_sm"
        (click) = "hideTask()"

        >

      </button>

      <!--Options list-->
      <div class="dropdown is-hoverable is-right">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true">
            <span>Settings</span>
            <span class="icon is-small">
              <i class="fas fa-cog" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <a
              class="dropdown-item"
              [routerLink]="['/edit-list', currentListId]"
            >
              Edit List 🔁</a
            >
            <a
              class="dropdown-item has-text-danger"
              (click)="onDeleteListBtnClicked()"
            >
              Delete List 💀</a
            >
            <hr class="dropdown-divider" />
            <a class="dropdown-item is-medium" (click)="onLogoutBtnClicked()">
              Log out 👋🏻
            </a>
          </div>
        </div>
      </div>
    </div>

    <!--Task elements-->
    <div
      class="task"
      *ngFor="let task of tasks"
      (click)="onTaskClick(task)"
      [ngClass]="{ completed: task.completed }"
    >
      <div class="task-text">
        <p>{{ task.title | titlecase }}</p>
      </div>

      <!--Task Buttons-->

      <!--Edit task button-->
      <div class="task-buttons">
        <button
          class="button"
          style="margin-right: 10px"
          [routerLink]="['/lists', currentListId, 'edit-task', task._id]"
        >
          <div class="icon">
            <i class="fas fa-edit"></i>
          </div>
        </button>

        <!--Delete task button-->
        <button class="button is-danger" (click)="onDeleteTaskBtnClicked(task)">
          <div class="icon">
            <i class="fas fa-trash"></i>
          </div>
        </button>
      </div>
    </div>

    <!--This heading will display if there is no task in the current list-->
    <h3 class="empty-state-text" *ngIf="tasks.length === 0">
      You have ZERO tasks, Go ahead and add your first task now.. 🤗🚴🏻‍♀️
    </h3>

    <!--Create Add Task button-->
    <button
      class="button circle-add-button is-primary"
      routerLink="./add-new-task"
    >
      <img src="../../../assets//plus-icon.svg" alt="➕" />
    </button>
  </div>

  <!--This div will appear if the user didn't choose a list-->
  <div *ngIf="!tasks">
    <h3 class="empty-state-text">
      Please, choose one list to show its tasks 👀🙈
    </h3>
  </div>
</div>
