@import '../../../main-styles.scss';

// small media
@include until($breakpoint) {
  .task-list-container {
    position: relative;
    width: 90% !important;
    margin: auto;
    padding: 20px;
    padding-bottom: 70px;

    .DeleteTask {
      top: 20px !important;
    }
    .circle-add-button {
      position: absolute;
      bottom: 20px;
      right: 20px;
      height: 40px;
      width: 40px;
      padding: 12px;
      border-radius: 50%;
    }

    .dropdown-menu {
      left: 0 !important;
    }
  }
}

/* ********************************************************/
// large media query

@include from($breakpoint) {
  .task-list-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 42px;

    height: 100%;
    width: 750px;

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    display: block !important;

    .top-bar {
      margin-bottom: 20px;
      display: flex;
      .title {
        flex-grow: 1;
        margin: 0;
      }
    }
    .DeleteTask {
      display: none !important;
    }

    .circle-add-button {
      position: absolute;
      bottom: 35px;
      right: 35px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
  }
}

/* ********************************************************/
// common styles between small & large

.task {
  display: flex;
  background: white;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 10px;

  align-items: center;

  &:not(.complete) {
    cursor: pointer;
    transition: box-shadow 0.2s ease, transform 0.2s ease;

    &:active {
      transform: scale(0.95);
    }

    &:hover {
      box-shadow: 0 0 0 5px #eeeeee;

      .task-buttons {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &.completed .task-text {
    text-decoration: line-through;
    opacity: 0.5;
    // border: 1px solid green;
  }

  .task-text {
    display: flex;
    flex-grow: 1;
  }

  .task-buttons {
    transition: opacity 0.2s, transform 0.2s;
    opacity: 0;
    transform: scale(0.85);
  }
}
